.navbar2-wrapper {
  display: contents;
}
 
.navbar2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
 
.navbar2-image1 {
  width: 80px;
  height: 70px;
}
 
.navbar2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar2-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar2-link11 {
  text-decoration: none;
}
 
.navbar2-link21 {
  text-decoration: none;
}
 
.navbar2-link31 {
  text-decoration: none;
}
 
.navbar2-link41 {
  text-decoration: none;
}
 
.navbar2-link51 {
  text-decoration: none;
}
 
.navbar2-link52 {
  text-decoration: none;
}
 
.navbar2-burger-menu {
  display: none;
}
 
.navbar2-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar2-logo {
  height: 3rem;
}
 
.navbar2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar2-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar2-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.page-fragment14 {
  display: contents;
}
 
.page-text14 {
  display: inline-block;
}
 
.page-fragment16 {
  display: contents;
}
 
.page-text16 {
  display: inline-block;
}
 
.page-fragment11 {
  display: contents;
}
 
.page-text11 {
  display: inline-block;
}
 
.page-fragment13 {
  display: contents;
}
 
.page-text13 {
  display: inline-block;
}
 
.page-fragment15 {
  display: contents;
}
 
.page-text15 {
  display: inline-block;
}
 
.page-fragment10 {
  display: contents;
}
 
.page-text10 {
  display: inline-block;
}
 
.page-fragment12 {
  display: contents;
}
 
.page-text12 {
  display: inline-block;
}
 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navbar2-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar2-desktop-menu {
    display: none;
  }
  .navbar2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar2-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar2-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.footer81-wrapper {
  display: contents;
}
 
.footer81-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer81-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer81-content {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
}
 
.footer81-container2 {
  display: flex;
  align-items: flex-start;
}
 
.footer81-contact-info {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer81-image {
  width: 99px;
  height: 103px;
  align-self: center;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.footer81-content-title1 {
  font-family: "Arial";
  text-transform: capitalize;
}
 
.footer81-text10 {
  font-weight: 700;
  text-decoration: underline;
}
 
.footer81-text11 {
  font-weight: 700;
}
 
.footer81-text12 {
  font-weight: 700;
}
 
.footer81-text13 {
  font-size: 12px;
}
 
.footer81-text14 {
  font-weight: 700;
}
 
.footer81-text15 {
  font-size: 12px;
}
 
.footer81-text16 {
  font-weight: 700;
}
 
.footer81-text17 {
  font-size: 12px;
}
 
.footer81-text18 {
  font-size: 12px;
  text-transform: lowercase;
}
 
.footer81-text19 {
  font-weight: 700;
}
 
.footer81-content2 {
  display: none;
}
 
.footer81-text20 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
 
.footer81-text21 {
  text-transform: capitalize;
}
 
.footer81-text23 {
  text-decoration: underline;
}
 
.footer81-text25 {
  text-decoration: underline;
}
 
.footer81-social-links {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer81-container3 {
  display: flex;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: row;
}
 
.footer81-link14 {
  display: contents;
}
 
.footer81-icon1 {
  text-decoration: none;
}
 
.footer81-link15 {
  display: contents;
}
 
.footer81-icon3 {
  text-decoration: none;
}
 
.footer81-link16 {
  display: contents;
}
 
.footer81-icon5 {
  text-decoration: none;
}
 
.footer81-links {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer81-column1 {
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  margin-top: 27px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer81-footer-links1 {
  height: 156px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer81-link1 {
  text-decoration: none;
}
 
.footer81-link2 {
  text-decoration: none;
}
 
.footer81-link3 {
  text-decoration: none;
}
 
.footer81-link4 {
  text-decoration: none;
}
 
.footer81-link5 {
  text-decoration: none;
}
 
.footer81-link61 {
  text-decoration: none;
}
 
.footer81-column2 {
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  margin-top: 27px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer81-footer-links2 {
  height: 129px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer81-link6 {
  text-decoration: none;
}
 
.footer81-link7 {
  text-decoration: none;
}
 
.footer81-link8 {
  text-decoration: none;
}
 
.footer81-link10 {
  text-decoration: none;
}
 
.footer81-link9 {
  text-decoration: none;
}
 
.footer81-credits {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer81-row {
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer81-footer-links3 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer81-link11 {
  text-decoration: none;
}
 
.footer81-link12 {
  text-decoration: none;
}
 
.footer81-link13 {
  text-decoration: none;
}
 
.footer81-powered-by {
  align-self: center;
  font-family: "Noto Sans";
  text-decoration: none;
}
 
.page-fragment24 {
  display: contents;
}
 
.page-text30 {
  display: inline-block;
}
 
.page-fragment28 {
  display: contents;
}
 
.page-text34 {
  display: inline-block;
}
 
.page-fragment18 {
  display: contents;
}
 
.page-text21 {
  display: inline-block;
}
 
.page-fragment19 {
  display: contents;
}
 
.page-text22 {
  display: inline-block;
}
 
.page-fragment27 {
  display: contents;
}
 
.page-text33 {
  display: inline-block;
}
 
.page-fragment26 {
  display: contents;
}
 
.page-text32 {
  display: inline-block;
}
 
.page-fragment20 {
  display: contents;
}
 
.page-text23 {
  display: inline-block;
}
 
.page-fragment23 {
  display: contents;
}
 
.page-text26 {
  display: inline-block;
}
 
.page-text28 {
  font-style: italic;
  text-decoration: underline;
}
 
.page-text29 {
  font-style: italic;
}
 
.page-fragment17 {
  display: contents;
}
 
.page-text20 {
  display: inline-block;
}
 
.page-fragment22 {
  display: contents;
}
 
.page-text25 {
  display: inline-block;
}
 
.page-fragment21 {
  display: contents;
}
 
.page-text24 {
  display: inline-block;
}
 
.page-fragment25 {
  display: contents;
}
 
.page-text31 {
  display: inline-block;
}
 
.page-fragment29 {
  display: contents;
}
 
.page-text35 {
  display: inline-block;
}
 
.page-fragment30 {
  display: contents;
}
 
.page-text36 {
  display: inline-block;
}
 
.page-fragment31 {
  display: contents;
}
 
.page-text37 {
  display: inline-block;
}
 
.page-fragment32 {
  display: contents;
}
 
.page-text38 {
  display: inline-block;
}
 
.page-fragment33 {
  display: contents;
}
 
.page-text39 {
  display: inline-block;
}
 
.page-fragment34 {
  display: contents;
}
 
.page-text40 {
  display: inline-block;
}
 
.footer81root-class-name {
  background-color: #ffffff;
}
 
.footer81root-class-name1 {
  background-color: #ffffff;
}
 

 

 

 

 

 

 

 
@media(max-width: 991px) {
  .footer81-contact-info {
    width: 300px;
  }
}
 
@media(max-width: 767px) {
  .footer81-content {
    flex-direction: column;
  }
  .footer81-contact-info {
    width: 100%;
  }
  .footer81-social-links {
    align-self: flex-start;
  }
  .footer81-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer81-column1 {
    align-items: center;
  }
  .footer81-column1-title {
    text-align: center;
  }
  .footer81-footer-links1 {
    align-self: center;
  }
  .footer81-column2 {
    align-items: center;
  }
  .footer81-column2-title {
    text-align: center;
  }
  .footer81-footer-links2 {
    align-self: center;
  }
  .footer81-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer81-container1 {
    margin-top: 60px;
  }
  .footer81-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer81-links {
    flex-direction: column;
  }
  .footer81-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer81-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer81-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer81-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer81-credits {
    gap: 0;
  }
  .footer81-row {
    align-items: center;
    justify-content: center;
  }
  .footer81-footer-links3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.page-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.page-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.page-fragment10 {
  display: contents;
}
 
.page-text10 {
  display: inline-block;
}
 
.page-fragment11 {
  display: contents;
}
 
.page-text11 {
  display: inline-block;
}
 
.page-fragment12 {
  display: contents;
}
 
.page-text12 {
  display: inline-block;
}
 
.page-fragment13 {
  display: contents;
}
 
.page-text13 {
  display: inline-block;
}
 
.page-fragment14 {
  display: contents;
}
 
.page-text14 {
  display: inline-block;
}
 
.page-fragment15 {
  display: contents;
}
 
.page-text15 {
  display: inline-block;
}
 
.page-fragment16 {
  display: contents;
}
 
.page-text16 {
  display: inline-block;
}
 
.page-container3 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.72) 0.00%,rgba(255, 255, 255, 0.72) 0.00%),url("public/external/kayak-7422299_1280-1500w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
 
.page-max-width {
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.page-text17 {
  font-size: 100px;
  text-align: center;
  font-family: "Arial";
}
 
.page-text18 {
  text-align: center;
  font-family: "Arial";
  text-transform: uppercase;
}
 
.page-text19 {
  text-align: center;
  font-family: "Arial";
}
 
.page-navlink {
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-color: #2256b7;
  text-decoration: none;
  background-color: rgb(30, 185, 201);
}
 
.page-fragment17 {
  display: contents;
}
 
.page-text20 {
  display: inline-block;
}
 
.page-fragment18 {
  display: contents;
}
 
.page-text21 {
  display: inline-block;
}
 
.page-fragment19 {
  display: contents;
}
 
.page-text22 {
  display: inline-block;
}
 
.page-fragment20 {
  display: contents;
}
 
.page-text23 {
  display: inline-block;
}
 
.page-fragment21 {
  display: contents;
}
 
.page-text24 {
  display: inline-block;
}
 
.page-fragment22 {
  display: contents;
}
 
.page-text25 {
  display: inline-block;
}
 
.page-fragment23 {
  display: contents;
}
 
.page-text26 {
  display: inline-block;
}
 
.page-text28 {
  font-style: italic;
  text-decoration: underline;
}
 
.page-text29 {
  font-style: italic;
}
 
.page-fragment24 {
  display: contents;
}
 
.page-text30 {
  display: inline-block;
}
 
.page-fragment25 {
  display: contents;
}
 
.page-text31 {
  display: inline-block;
}
 
.page-fragment26 {
  display: contents;
}
 
.page-text32 {
  display: inline-block;
}
 
.page-fragment27 {
  display: contents;
}
 
.page-text33 {
  display: inline-block;
}
 
.page-fragment28 {
  display: contents;
}
 
.page-text34 {
  display: inline-block;
}
 
.page-fragment29 {
  display: contents;
}
 
.page-text35 {
  display: inline-block;
}
 
.page-fragment30 {
  display: contents;
}
 
.page-text36 {
  display: inline-block;
}
 
.page-fragment31 {
  display: contents;
}
 
.page-text37 {
  display: inline-block;
}
 
.page-fragment32 {
  display: contents;
}
 
.page-text38 {
  display: inline-block;
}
 
.page-fragment33 {
  display: contents;
}
 
.page-text39 {
  display: inline-block;
}
 
.page-fragment34 {
  display: contents;
}
 
.page-text40 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .page-max-width {
    align-items: center;
  }
  .page-text19 {
    text-align: center;
  }
}
 

